@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  overflow-x: hidden;
}
.category-wrapper {
  width: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.category-banner {
  position: relative;
  width: 100%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex:1 */
}

.category-banner > h1 {
  font-size: 2.5rem;
  position: absolute;
}

.category-banner > img {
  width: 100%;
}

.mid-header {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  padding: 2rem;
  overflow-x: hidden;
}

.category-content {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  padding: 2rem;
  width: 95%;
}

.catalog-sidebar {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 1rem;
  padding: 1.8rem;
  width: 18%;
}

.sidebar-link {
  text-decoration: none;
  color: #827664;
}

.category-cards-wrapper {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.category-card-link {
  text-decoration: none;
  color: black;
}

.category-card {
  width: 220px;
  min-height: 360px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
}

.category-card-link:hover,
.category-card:hover {
  color: black;
  transition: all 0.3s ease;
  opacity: 0.9;
}

.category-card > img {
  width: 220px;
  height: 360px;
  object-fit: cover;
}

.category-card > img:hover {
  transition: all 0.3s ease;
  transform: scale(1.02);
}

.category-card > h5 {
  margin-top: 0.6rem;
}

.price-share-span {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.share-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 4px;
  cursor: pointer;
}

.buy-btn {
  background-color: #000000;
  outline: none;
  border: none;
  text-align: center;
  width: 100%;
  color: white;
  padding: 0.4rem;
  border-radius: 4px;
}
