@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* .navbar {
  padding: 0px; */
  /* background-size: cover;
     background-repeat: no-repeat;
     background-position: center; */
  /* backdrop-filter: blur; */
/* } */
/* .container-fluid {
  background-color: #d8bfb4;
} */

.navbar{
  background: transparent;
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 11;
}

/* change navbar styles on scroll using javascript */
.window-scroll {
  background: #d8bfb4;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.nav-logo1 {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  padding: 3px;
}

.nav-item {
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .nav-item a:hover{
  color: red;
} */

.carousel-caption {
  position: absolute;
  margin-bottom: 200px;
  margin-left: 600px;
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  min-width: 100px;
  width: max-content;
}

a.nav-link {
  color: whitesmoke;
}

.nav-link {
  font-size: 1rem;
  font-weight: 900;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.nav-search {
  margin-left: 15px;
  margin-top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 40px;
  border-style: none;
  font-size: large;
}
.nav-search:focus {
  outline: none;
}

/* aria-label="Search" */

.nav-search-btn {
  margin-left: 10px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  text-decoration: none;
  color: black;
  margin-top: 5px;
  margin-right: 30px;
  font-size: large;
}
.searchBar {
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  width: 500px;
  margin-top: 13px;
  margin-left: 20px;
  border-radius: 10px;
}

.nav-search-icon {
  margin-top: 3px;
}

.carousel-item {
  margin-top: 0px;
}

/* CATEGORIES STYLE START HERE */

.categories {
  background-image: linear-gradient(#d8bfb4, #d8bfb4, white);
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  padding-block: 2.5rem;
}

.categories-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.4rem;
  letter-spacing: 0.6rem;
  color: rgb(130, 49, 68);
  margin-bottom: 1rem;
}

.categories-item {
  justify-content: center;
  margin-top: 50px;
  display: flex;
  margin: 0;
  padding: 0;
}
.categories-img {
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 30px;
  object-fit: cover;
}
.categories-content {
  width: fit-content;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
  overflow-x: scroll;
  gap: 2rem;
  padding-inline: 2rem;
}

.categories-extra {
  position: absolute;
  margin-left: -90px;
  margin-top: 100px;
}
.categories-extra-long {
  position: absolute;
  margin-left: -100px;
  margin-top: 100px;
}
.categories-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  /* margin-left: 55px; */
  width: 250px;
}

.categories-anchor {
  text-decoration: none;
  font-size: 20px;
  color: rgb(130, 49, 68);
}

.categories-anchor:hover {
  color: #000;
}

@media (max-width: 768px) {
  .categories-header {
    font-size: 2.4rem;
    letter-spacing: 0.4rem;
  }
  .categories-img {
    height: 120px;
    width: 120px;
  }
  .categories-content {
    gap: 1rem;
  }
  .categories-item {
    text-align: center;
  }
}

/* CATEGORIES STYLE ENDS HERE */

/* QUOTES STYLE START HERE */

.quotes-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.quotes-wrapper {
  position: absolute;
}

.quotes-img {
  width: 100%;
  height: 26rem;
  filter: saturate(0.9);
}

.quotes-header {
  /* margin-top: -300px; */
  font-size: 100px;
  color: whitesmoke;
  text-align: center;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.quotes {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
}

@media (max-width: 768px) {
  .quotes-img {
    height: 32rem;
    object-fit: cover;
  }
  .quotes-header {
    font-size: 4rem;
  }
  .quotes {
    font-size: 1.4rem;
    text-align: center;
  }
}

/* QUOTES STYLE ENDS HERE */

/* NEW ARRIVALS STYLE START HERE */

.new-arrivals {
  width: 100%;
  min-height: 100vh;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #d8bfb4; */
  background-image: linear-gradient(white, #d8bfb4, #d8bfb4);
  padding: 2rem;
  gap: 4rem;
  overflow-x: hidden;
}

.new-arrivals-image {
  width: 350px;
  height: 450px;
  object-fit: cover;
}

.new-arrivals-headings {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.new-arrivals-headings > h1 {
  font-size: 6rem;
  margin-top: 4rem;
}

.new-arrivals-headings > h3 {
  text-align: center;
}

.new-arrivals-headings > h4 {
  margin-top: 1rem;
  opacity: 0.9;
}

.new-arrival-images-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}

.explore-btn {
  background-color: #d8bfb4;
  text-decoration: none;
  color: white;
  background-color: #000;
  padding: 0.8rem;
  padding-inline: 2rem;
  border-radius: 0.4rem;
  margin-top: 0.5rem;
}
.explore-btn:hover {
  text-decoration: none;
  filter: invert(1);
  transition: all;
  transition-duration: 400ms;
}

@media (max-width: 768px) {
  .new-arrivals {
    align-items: start;
    justify-content: center;
    padding-inline: 0rem;
  }

  .new-arrivals-headings > h1 {
    font-size: 4rem;
    text-align: center;
  }

  .new-arrival-images-wrapper {
    width: 100%;
    overflow-x: scroll;
    display: flex;
    align-items: start;
    justify-content: start;
    padding-inline: 1rem;
    /* For Hiding Horizontal Scrollbar */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .new-arrivals-image {
    width: 240px;
    height: 320px;
  }
}

/* NEW ARRIVALS STYLE ENDS HERE */

/* NEWSLETTERS STYLE STARTS HERE */

.newsletter-wrapper {
  /* background-color: #d8bfb4; */
  width: 100%;
  min-height: 40vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newsletter-section {
  background-image: linear-gradient(#d8bfb4, #d8bfb4, white);
  text-align: center;
  /* max-width: 600px; */
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.newsletter-section h1 {
  margin-top: 3rem;
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
  font-weight: 600;
}

.newsletter-section p {
  color: #575757;
  margin-bottom: 30px;
  line-height: 1.5;
  font-weight: 600;
}

.subscription-form {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
  border-radius: 4px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.subscription-form input {
  flex: 0.4;
  padding: 15px;
  border: 1px solid #ddd;
  border-right: none;
  outline: none;
  font-size: 16px;
}

.subscription-form button {
  padding: 15px 30px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.subscription-form button:hover {
  background-color: #444;
}

.support-section {
  text-align: center;
}

.support-section h2 {
  color: #333;
  font-size: 24px;
  font-weight: normal;
}

@media (max-width: 600px) {
  .newsletter-section {
    padding: 1rem;
  }
  .subscription-form {
    flex-direction: column;
    padding: 1rem;
  }

  .subscription-form input {
    border-right: 1px solid #ddd;
    border-bottom: none;
    width: 85%;
    margin-inline: auto;
    padding: 12px;
  }

  .newsletter-section h1 {
    font-size: 24px;
  }

  .subscription-form button {
    width: 85%;
    margin-inline: auto;
    padding: 10px 30px;
  }
}

/* NEWSLETTERS STYLE ENDS HERE */

/* OUR BESTSELLERS STYLE STARTS HERE */
.our-bestsellers-wrapper {
  width: 100%;
  min-height: 100vh;
  height: max-content;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
}

.our-bestsellers-left-section {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 40%;
  height: 100%;
  padding: 1rem;
}

.our-bestsellers-wrapper > div > h1 {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  width: 100%;
  text-align: left;
}

.our-bestsellers-wrapper > div > h5 {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  margin-top: 1rem;
}

.our-bestsellers-wrapper > div > h6 {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  width: 100%;
  text-align: left;
  margin-top: 0.2rem;
}

.our-bestsellers-right-section {
  width: 60%;
  overflow-x: hidden;
}

.our-bestsellers-images-wrapper {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 1rem;
  overflow-x: scroll;
  position: relative;
  padding-right: 1rem;
}

.get-yours-btn {
  background-color: #d8bfb4;
  text-decoration: none;
  color: white;
  background-color: #000;
  padding: 0.8rem;
  padding-inline: 2rem;
  border-radius: 0.4rem;
  margin-top: 0.5rem;
  width: fit-content;
}
.get-yours-btn:hover {
  color: white;
  background-color: #484848;
  transition: all;
  transition-duration: 300ms;
}

.our-bestsellers-images-wrapper::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .our-bestsellers-wrapper {
    flex-direction: column;
    padding-left: 0rem;
    align-items: center;
    justify-content: center;
  }
  .our-bestsellers-left-section {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .our-bestsellers-wrapper > div > h1 {
    text-align: center;
  }
  .our-bestsellers-wrapper > div > h5 {
    text-align: center;
  }
  .our-bestsellers-wrapper > div > h6 {
    text-align: center;
  }

  .our-bestsellers-right-section {
    width: 96%;
  }
}

/* OUR BESTSELLERS STYLE ENDS HERE */

/* INFO STYLE STARTS HERE */

.info-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: start;
  justify-content: center;
  min-height: 60vh;
  height: max-content;
  margin-top: 4%;
}

.info-div {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  margin-top: 1rem;
  gap: 1.6rem;
}

.info-div-icon {
  background-color: #dcdcdc;
  border-radius: 100%;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-div-icon > i {
  font-size: 2rem;
}

.info-div > p {
  text-align: center;
}

@media (max-width: 768px) {
  .info-div {
    width: 100%;
    padding-inline: 0.4rem;
  }
}

/* INFO STYLE ENDS HERE */

/* FOOTER STYLE STARTS HERE */

.footer {
  background-color: #000;
  width: 100%;
  min-height: 40vh;
  height: max-content;
}

.footer-content-wrapper {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
  gap: 4rem;
}

.footer-logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15%;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.footer-logo-section > img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  object-fit: cover;
}
.footer-logo-section > h3 {
  margin-top: 1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.footer-link-group > h4 {
  color: white;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.footer-links {
  list-style: none;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.4rem;
}

.footer-links > li > a {
  text-decoration: none;
  color: white;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.footer-links > li > a:hover {
  color: #f9e2ae;
}

.footer-links > a {
  color: white;
  text-decoration: none;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.footer-links > a:hover {
  color: #f9e2ae;
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-info > h4 {
  color: white;
}

.footer-map > h4 {
  color: white;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.footer-map {
  flex: 1;
}

/* CSS FOR MAP */

.mapouter {
  padding: 1rem;
  position: relative;
  text-align: right;
  width: 100%;
  height: 350px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 350px;
}

.gmap_iframe {
  height: 350px !important;
}

.divider {
  background-color: #686056;
  width: 90%;
  height: 0.1rem;
  margin-inline: auto;
}

.footer-bottom-info {
  background-color: #000;
}

.footer-bottom-info > p {
  text-align: center;
  margin-block: 0rem;
  padding: 1rem;
  color: white;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@media (max-width: 768px) {
  .footer-content-wrapper {
    flex-direction: column;
    padding: 1rem;
    align-items: center;
  }

  .footer-logo-section {
    width: 100%;
    margin-top: 20%;
  }

  .footer-link-group {
    align-items: center;
    justify-content: center;
  }

  .footer-links{
    align-items: center;
    justify-content: center;
  }

  .footer-links > li{
    margin-left: -1.6rem;
  }

  .mapouter{
    padding-inline: 0rem;
  }

  .footer-map > h4{
    text-align: center;
  }

  .divider{
    margin-top: 2rem;
  }

  .footer-map{
    width: 100%;
  }

}

/* FOOTER STYLE ENDS HERE */

/* Hide scrollbar for Chrome, Safari and Opera */
.categories-content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.categories-content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
