.navbar {
  width: 98.9vw;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  transition: background-color 600ms ease-in-out;  /* transition for smooth change of background color  */
  background-color: transparent;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

/* change navbar styles on scroll using javascript */
.window-scroll {
  background: #d8bfb4;
  transition-duration: 600ms;
}

.nav-logo1 {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  padding: 3px;
}

.nav-item {
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .nav-item a:hover{
    color: red;
  } */

.carousel-caption {
  position: absolute;
  margin-bottom: 200px;
  margin-left: 600px;
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  min-width: 100px;
  width: max-content;
}

a.nav-link {
  color: whitesmoke;
}

.nav-link {
  font-size: 1rem;
  font-weight: 900;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5); /* Add text shadow for better visibility */
}

.nav-search {
  margin-left: 15px;
  margin-top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 40px;
  border-style: none;
  font-size: large;
}
.nav-search:focus {
  outline: none;
}

/* aria-label="Search" */

.nav-search-btn {
  margin-left: 10px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  text-decoration: none;
  color: white;
  margin-top: 5px;
  margin-right: 30px;
  font-size: large;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.searchBar {
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  width: 500px;
  margin-top: 13px;
  margin-left: 20px;
  border-radius: 10px;
}

.nav-search-icon {
  margin-top: 3px;
}
